#progress {
    background-color: #839c49;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Peut être important si vous avez un menu en position fixe */
}

#audioContainer {
    text-align: center; /* Centrer le contenu horizontalement */
}

#audioPlayer {
    margin: 0 auto; /* Centrer l'élément audio */
}

mat-form-field {
    width: 100%;
  }

#verifyButton {
    background-color: #4CAF50 !important;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

label {
    display: block; /* Afficher les labels sur une nouvelle ligne */
    margin-top: 10px; /* Marge en haut pour séparer les labels */
}

#resultText {
    margin-top: 20px; /* Marge en haut pour séparer les mises à jour et le score */
}