<!DOCTYPE html>
<html>
  <head>
    <title>BlindTest</title>
  </head>

  <body>
    <app-header></app-header>
    <div class="main-container">
      <div class="content-box">
        <div class="audio-box">
          <audio id="audioPlayer" controls>
            <source [src]="trackURL" type="audio/mpeg" />
            Votre navigateur ne supporte pas l'élément audio.
          </audio>
        </div>

        <div class="label-box">
          <mat-form-field class="mat-form-field">
            <mat-label for="input_song">Entrez le titre</mat-label>
            <input
              matInput
              type="text"
              id="input_song"
              [(ngModel)]="input_song"
            />
          </mat-form-field>

          <mat-form-field class="mat-form-field">
            <mat-label for="input_artist">Entrez l'artiste</mat-label>
            <input
              matInput
              type="text"
              id="input_artist"
              [(ngModel)]="input_artist"
              class="mat-input"
            />
          </mat-form-field>
        </div>

        <div
          id="verifyButton"
          class="start-button"
          (click)="loadAndPlayNextTrack()"
        >
          Vérifier et passer à la chanson suivante
        </div>
      </div>
    </div>

    <div class="score-content">
      <div class="content-box">
        <div id="resultText" class="centered-text"></div>
        <div id="reponsecorrecte" class="centered-text"></div>
      </div>

      <div class="game-end-container">
        <div id="gameEnd" class="game-end-text"></div>
      </div>
    </div>
  </body>
</html>
