<body>
  <app-header></app-header>
  <div class="create-user">
    <mat-card>
      <mat-card-content>Créer un compte : </mat-card-content>
      <mat-form-field>
        <mat-label>Email : </mat-label>
        <input matInput type="email" #userEmail>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe : </mat-label>
        <input matInput type="password" #userPassword>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom: </mat-label>
        <input matInput type="text" #userLastName>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom : </mat-label>
        <input matInput type="text" #userFirstName>
      </mat-form-field>
      <section>
        <div class="example-button-row">
          <button mat-flat-button color="primary" (click)="authService.signUp(userEmail.value, userPassword.value, userLastName.value, userFirstName.value)">S'inscrire</button>
        </div>
      </section>
    </mat-card>
  </div>
</body>