<!-- <p>spotify-callback works!</p> -->

<!-- <audio controls>
    <source src="https://p.scdn.co/mp3-preview/6c84a8c8af29e487bb717a470a12a2671e52c558?cid=adaaf209fb064dfab873a71817029e0d" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio> -->
  

<body>
    <app-header></app-header>
    <mat-list>
      <mat-list-item>PROFIL</mat-list-item>
      <mat-list-item>Nom : {{lastName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Prénom : {{firstName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email : {{email}}</mat-list-item>
    </mat-list>
    
    <!-- <p id="lastName" name="lastName">{{lastName}}</p>
    <p id="firstName" name="firstName">{{firstName}}</p>
    <p id="email" name="email">{{email}}</p> -->
    
    <div class="form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>URL de la playlist</mat-label>
          <input matInput placeholder="ex: https://open.spotify.com/playlist/3mQxm4Se2p4ePgqmQmiNvV?si=53a518f01c394778" value="">
        </mat-form-field>
        <button mat-flat-button color="primary">Lancer la partie</button>
      </form>
    </div>
    <!-- <div class="example-button-row">
      <button mat-flat-button color="primary">Lancer la partie</button>
    </div> -->
</body>