.form {
    margin: 50vh 70vh;
  }
  
  .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      /* margin: auto auto;  */
    }
    
  .example-full-width {
    width: 100%;
  }