<body>
    <app-header></app-header>
    <div class="profile">
        <mat-card>
          <mat-card-content>PROFIL</mat-card-content>
          <mat-card-content class="text">Nom : {{lastName}}
          </mat-card-content>
          <mat-card-content class="text">Prénom : {{firstName}}
          </mat-card-content>
          <mat-card-content class="text">Email : {{email}}
              <button mat-flat-button color="primary">Modifier l'email</button>
              <button mat-flat-button color="primary">Modifier le mot de passe</button>
          </mat-card-content>
        </mat-card>
      </div>
</body>
