/* body {
  background-color: #363333;
}

.form {
  margin: 50vh 70vh;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    /* margin: auto auto;  
  }
  
.example-full-width {
  width: 100%;
} */

body {
  background-color: #f4f4f4;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh;
  }
  
  mat-card {
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-content {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .example-button-row {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #007bff;
    color: #fff;
  }

  
